.content{
    width: 1200px;
    margin: 0 auto;
    /* padding: 100px 0; */
}
.no_focus::focus{
    outline: 0;
    border:0;
}
.result_container{padding: 60px 100px; margin: 0 auto; text-align: center;}
.rc_title{text-align: left;margin-bottom: 24px;font-size: 2rem;font-weight: bold;letter-spacing: -0.75px;color: #222;}
.result_box{margin-bottom:30px;background-color: #fff;border-radius: 20px;border: solid 1px #ededed;padding: 40px;  }
.result_list_li{
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    
}
.result_list_li:last-child{
    margin-bottom: 0;
}
.stockName{
    margin-right: 10px;
}
.result_list_li>p{
    flex: 9;
    word-break: keep-all;
}
.result_list_li>div{
    flex: 1;
    text-align: right;
}